<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>School</title>

<link rel="stylesheet" href="../cssStyle/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" ></script>

<!-- -----font aswsome link -->
<script src="https://kit.fontawesome.com/732623e199.js" ></script>

</head>
<body>
<!------------------------Header --------------------->
<div class=" container-fluid">
	<div class="row header ">
		<div class="col-md-8 ">
			<i class="fas fa-map-marker-alt"></i> Museum Road, Chhauni, Kathmandu, Nepal &nbsp; &nbsp;
			<i class="fas fa-phone-alt"></i>+977-9817553869 &nbsp; &nbsp;
			<i class="fas fa-envelope-square"></i>Swatijadon91@gmail.com 
			
				<a href="#"><span class="btn-style">LOGIN</span></a>
				<a href="#"><Span class="btn-style">Registration</Span></a>
			
		</div>
		
		<div class="col-md-2 serach-style ">
			<div class="input-group">
			
				<input type="text" class="form-control" style="padding: 3px;">
    			<span class="input-group-text" id="basic-addon1" style="background:#4f259a;"><i class="fas fa-search icon"></i></span>
				
			</div>
		</div>
		<div class="col-md-2 ">
				<a href="#"><span>Collage</span></a>
				<a href="#"><Span>School</Span></a>
		</div>
	</div>
</div>


<!-- --------------------navigation header---------------- -->
<section id="nav-bar">
	<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Icon Comes here</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
     <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link "  href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./About-Us/about.html">About Us<i class="fas fa-caret-down"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./AcademicProgram/NEB.html">Academic PRograms<i class="fas fa-caret-down"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./Student-service/Facilities.html" >Student Service<i class="fas fa-caret-down"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#events" > Events<i class="fas fa-caret-down"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html" >Others<i class="fas fa-caret-down"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ContactUs.html" >Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</section>


<!-- Slider -->

	<div class="container-fluid "id="slider">
		
				
	</div>
	
	
<section class="inner_body_content">
	<!-------------------------- Map -->
		<div class="container contact">
			<h4 class="title"> Contact Us</h4>
			<div class="row">
				
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14131.126972012014!2d85.30328010000002!3d27.69313985000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1629275015645!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				
				</div>
			</div>
		</div>
	
		
	<!----------------------------------Form -->
	
	
	

	<div class="container ">		
		<div class="row">
			<div class="col-md-8">
				<h5 class="title"> Make Inquiry</h5>
					<div class="row form">
			  			<div class="col-md-6 ">
					   		 <input type="text" class="form-control" placeholder="Your full Name" aria-label="First name">
					 	 	
					 	 </div>
					 	 <div class="col-md-6 ">
					   		 <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
					 		
					 	 </div>
					 	 <div class="col-md-6 ">
					   		 <input type="text" class="form-control" placeholder="Contact No" aria-label="First name">
					 	 	
					 	 </div>
					 	 <div class="col-md-6 ">
					   		 <input type="text" class="form-control" placeholder="Subject" aria-label="Last name">
					 		
					 	 </div>
					 	 
					 	</div> 
					 	
					 	
					 	<div class="form-floating text">
								  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
								  <label for="floatingTextarea"></label>
						</div>
						
						<button type="button" class="btn btn-primary submit-btn" style="background:#ad1457; border-color:#ad1457;">Submmit</button>
						
				</div>
					 	 
				<div class="col-md-4 address">
					 	
					 			<P>GPO Box No. 25129<br>
					 			 Museum Road, Chhauni, Kathmandu<br>
					 			 Tel: +977 1 4271562, 4281484 <br>
					 			Fax: +977 1 4272429</P>
								<a href="#">SwatiJadon91@gmail.com</a>
					 	 
				</div>
		</div>	
		
	</div>

	
	
	
	</section>	
	
	
	
	
	
	
	
	<!-- ------------------footer -->
<section id="footer">
<div class="container ">
		<div class="row">
			<div class="col-md-4">
				<ul>
					<li>
						<a href="#">Advisory Board</a>
					</li>
					<li>
					<a href="#">Introduction</a></li>
					<li>
					<a href="#">Academic Programs</a></li>
					<li>
					<a href="#"> Administrative Team</a></li>
					<li>
					<a href="#">Achievement</a></li>
					<li>
					<a href="#">NEB (Grade XI-XII, +2)</a></li>
					<li>
					<a href="#">Advisory Board</a></li>

				</ul>
			</div>
			<div class="col-md-4">
				<ul>
					<li>
						<a href="#">About Programs</a>
					</li>
					<li>
						<a href="#">Admission Procedure</a>
					</li>
					<li>
						<a href="#">Rules and Regulations</a></li>
					<li>
					<a href="#">Student Service</a></li>
					<li>
					<a href="#">Awards</a></li>
					<a href="./Others/photo_gallery.html">Photo Gallery</a></li>
				</ul>
			</div>
			
			<div class="col-md-4">
				<h5>KATHMANDU VELLEY SCHOOL AND COLLAGE</h5>
					<P>GPO Box No. 25129 Museum Road, Chhauni, Kathmandu Tel: +977 1 4271562, 4281484 Fax: +977 1 4272429</P>
					<a href="#">SwatiJadon91@gmail.com</a>
			</div>
			
	</div>
	<hr>
		<p class="copy-right">Copy Right : Created by Swati Jadon</p>			
	
	
	</div>
	

	

</section>	






</body>
</html>